.productPage {
  height: calc(100vh - 105px);
  background-color: #fff;

  &__container {
    height: 100%;

    max-width: 1320px;
    margin: 0 auto;
    width: 100%;

    .productPage__loaderContainer {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
