.listItem__item {
  display: flex;

  gap: 10px;

  padding: 10px;

  border-bottom: 1px solid #e5e5e5;

  @media screen and (max-width: 478px) {
    gap: 5px;
  }

  .listItem__imageContainer {
    display: flex;
    align-items: center;

    @media screen and (max-width: 478px) {
      height: 80px;
      width: 120px;
    }

    @media screen and (max-width:600ppx) {
      height: 80px;
      width: 120px;
    }

    .listItem__image {
      object-fit: contain;
      border-radius: 15px;

      // width: 100%;
      // height: auto;

      width: 193px;
      height: 120px;

      @media screen and (max-width: 478px) {
        width: 100%;
        height: auto;

        border-radius: 10px;
      }
    }
  }

  .listItem__details {
    width: 100%;

    padding: 0 0 12px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      padding: 0;
    }

    @media screen and (max-width: 478px) {
      border-radius: 15px;
    }

    .listItem__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 478px) {
        align-items: baseline;
      }

      .listItem__title {
        font-size: 14px;
        color: #222;
        letter-spacing: 0.05em;

        font-weight: 400;

        @media screen and (max-width: 478px) {
          font-size: 12px;

          min-height: 30px;
        }
      }

      svg {
        @media screen and (max-width: 478px) {
          transform: translateY(3px);
        }
      }
    }

    .listItem__body {
      .listItem__ingridientsList {
        display: flex;

        min-height: 40px;
        font-size: 11px;
        color: #4f4f4f;
        line-height: 146%;
        padding-top: 10px;

        .listItem__ingridientsItem {
          text-transform: lowercase;

          &:first-child {
            text-transform: capitalize;
          }
        }
      }
    }

    .listItem__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .listItem__price {
        font-weight: 700;
        font-size: 11px;

        span {
          font-size: 18px;
          letter-spacing: 0.03em;
          font-weight: 700;

          @media screen and (max-width: 478px) {
            font-size: 15px;
          }
        }
      }

      .listItem__qty {
        color: var(--white-color);
        background: #e31837;

        border-radius: 15px;

        width: 90px;
        height: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 10px;

        font-family: Open Sans, sans-serif;
        font-size: 15px;

        @media screen and (max-width: 478px) {
          width: 75px;
          height: 25px;

          font-size: 13px;
        }

        .listItem__icon {
          font-weight: 700;
          letter-spacing: 1e-7rem;
          cursor: pointer;

          svg {
            width: 10px;
            fill: #fff;
          }
        }
      }
    }
  }
}
