@import './../../../../assets/mixins.scss';

.cartStatus {
  background-color: #fff;

  border-radius: 25px;

  height: 50px;

  padding: 2px;

  @include dflex(center, center);

  cursor: pointer;

  transition: 0.2s all linear;

  &.cartStatus__active {
    background-color: #bf142e;

    @media screen and (max-width: 600px) {
      background-color: #fff;
    }

    .cartStatus__container {
      .cartStatus__count {
        border-color: #333;

        @media screen and (max-width: 600px) {
          border: 1px solid transparent;
        }
      }

      .cartStatus__price {
        color: #fff;

        @media screen and (max-width: 600px) {
          color: #333;
        }
      }

      .cartStatus__order {
        background-color: #fff;
      }
    }
  }

  position: relative;

  @media screen and (max-width: 600px) {
    position: fixed;

    left: 30px;
    bottom: 30px;

    z-index: 99;

    box-shadow: 0 0 15px #000;
  }

  .cartStatus__container {
    @include dflex(space-between, center);

    .cartStatus__count {
      display: flex;
      flex-direction: column;

      background-color: #4f4f4f;
      color: #fff;

      height: 46px;
      width: 46px;

      @include dflex(center, center);

      border-radius: 50%;
      border: 1px solid transparent;

      @media screen and (max-width: 600px) {
        background-color: #e31837;
      }
    }

    .cartStatus__price {
      text-align: center;

      min-width: 100px;

      @media screen and (max-width: 1050px) {
        min-width: 80px;
      }

      @media screen and (max-width: 600px) {
        min-width: 100px;
      }
    }

    .cartStatus__order {
      background-color: #bf142e;
      color: #fff;

      font-size: 16px;

      height: 46px;
      width: 145px;

      border-radius: 25px;

      @include dflex(center, center);

      cursor: pointer;

      .cartStatus__arrow-icon {
        fill: #333;

        width: 25px;
        height: 25px;
      }

      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}
