.auth__button {
  background-color: transparent;
  color: #fff;

  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: 15px;
  font-weight: 600;

  &-icon {
    width: 20px;
    height: 20px;

    margin-right: 5px;
  }
}

.authModal__overlay {
  .modal__content {
    padding: 0;

    position: relative;

    box-shadow: 10px 25px 15px -20px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
      margin: 0 45px;
    }

    @media screen and (max-width: 550px) {
      margin: 0 25px;
    }

    .modal__closeIcon {
      position: absolute;
      top: -20px;
      right: -20px;
      cursor: pointer;

      @media screen and (max-width: 550px) {
        top: -15px;
        right: -15px;
      }

      &:active {
        &-btn {
          color: #fff;
        }
      }

      &-btn {
        transition: 0.3s fill linear;

        fill: gray;

        height: 20px;
        width: 20px;

        &:hover {
          fill: #fff;
          transform: scale(1.2);
        }
      }
    }

    .modal__header {
      .modal__authVariants {
        display: flex;

        &-item {
          width: 50%;
          height: 70px;

          text-align: center;

          padding: 20px;

          background-color: #f3f3f7;
          color: #6a6a76;

          font-size: 20px;
          font-weight: bold;

          cursor: pointer;

          transition: 0.3s all ease-in-out;

          border-bottom: 4px solid transparent;

          @media screen and (max-width: 768px) {
            height: 55px;

            font-size: 18px;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          &.active {
            border-bottom: 4px solid #e31836;
            color: #0b0b0b;
            background-color: white;
          }

          &:first-child {
            border-top-left-radius: 16px;
          }

          &:last-child {
            border-top-right-radius: 16px;
          }
        }
      }
    }

    .modal__body {
      padding: 20px 25px;

      @media screen and (max-width: 768px) {
        padding: 10px 20px 30px;
      }
    }
  }
}
