@import './../../../../assets/mixins.scss';

.productDetails__ingridientsContainer {
  margin-bottom: 20px;

  .productDetails__ingridientsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    grid-gap: 1vw;

    .productDetails__ingridientsItemAdd {
      cursor: pointer;

      @include dflex(center, center);

      border: 1px solid #e5e5e5;
      margin-bottom: 5px;
      width: 100%;
      height: 150px;
      transition: 0.2s all linear;
      border-radius: 0.3em;

      &:hover {
        box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.15);
        opacity: 0.6;
      }

      svg {
        width: 50px;
        height: 50px;
        fill: lightgray;
      }
    }
  }
}
