@import './../../../../assets/mixins.scss';

.productDetails__ingridientsContainer {
  margin-bottom: 20px;

  .productDetails__ingridientsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    grid-gap: 1vw;

    @media screen and (max-width: 1050px) {
      grid-template-columns: repeat(3, minmax(130px, 1fr));
      grid-gap: 1.5vw;
    }

    @media screen and (max-width: 950px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 870px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    @media screen and (max-width: 750px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @media screen and (max-width: 550px) {
      margin-top: 10px;
    }

    @media screen and (max-width: 450px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }
}
