.productList__category-item {
  border: 1px solid #e0e0e0;

  border-radius: 25px;

  padding: 10px;

  cursor: pointer;

  transition: 0.2s all ease-in;

  background-color: #fff;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    .item__image-container {
      .item__link {
        .item__image-img {
          transform: scale(1.02);
        }
      }
    }
  }

  @media screen and (max-width: 950px) {
    margin-bottom: 30px;

    padding: 15px 10px 30px;
  }

  @media screen and (max-width: 678px) {
    padding: 10px 10px 20px;
    margin-bottom: 20px;

    border-radius: 15px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 10px 5px 10px;
  }

  @media screen and (max-width: 440px) {
    width: 95%;

    justify-self: safe center;
    padding: 15px 10px 20px;
  }
  @media screen and (max-width: 360px) {
    width: 100%;

    justify-self: safe center;
    padding: 15px 5px 20px;
  }

  .item__image-container {
    position: relative;

    .newProduct__icon {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 5px;
      right: 15px;
    }
    .item__link {
      .item__image-img {
        width: 100%;
        height: auto;
        min-height: 176px;
        border-radius: 15px;
        transition: all 0.2s ease-in;

        object-fit: cover;

        @media screen and (max-width: 950px) {
          max-height: 210px;
          min-height: 150px !important;

          padding: 0 5px;
        }

        @media screen and (max-width: 650px) {
          padding: 0;
        }

        @media screen and (max-width: 600px) {
          max-height: 140px !important;
          min-height: 100px !important;
        }

        @media screen and (max-width: 600px) {
          max-height: 120px !important;
          min-height: 80px !important;
        }

        @media screen and (max-width: 440px) {
          max-height: 170px !important;
          min-height: 80px !important;
        }
      }
    }
  }

  .item__details {
    padding: 20px 10px 5px 15px;

    @media screen and (max-width: 950px) {
      padding: calc(1.5vw + 5px) 5px 5px 10px;
    }

    @media screen and (max-width: 600px) {
      padding: 5px 0 5px 5px;
    }

    @media screen and (max-width: 500px) {
      padding: 3px 0 0 5px;
    }

    @media screen and (max-width: 440px) {
      padding: 10px 0 5px 10px;
    }

    .item__title-container {
      .item__link {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: var(--black-color);
        min-height: 40px;
        display: inline-block;

        @media screen and (max-width: 950px) {
          font-size: calc(1.3vw + 8px);
        }

        @media screen and (max-width: 600px) {
          font-size: 15px;
          min-height: 30px;
        }

        @media screen and (max-width: 500px) {
          font-size: 13px;
          min-height: 27px;
        }

        @media screen and (max-width: 440px) {
          font-size: 16px;
          min-height: 30px;
        }
      }
    }

    .item__ingridients-list {
      margin-top: 10px;

      min-height: 35px;

      font-size: 12px;

      color: #4f4f4f;

      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 950px) {
        margin: 0 0 10px;
        font-size: calc(1.1vw + 6px);
      }

      @media screen and (max-width: 678px) {
        margin-bottom: 5px;
      }

      @media screen and (max-width: 600px) {
        font-size: 11px;
        min-height: 24px;
      }

      @media screen and (max-width: 500px) {
        font-size: 10px;
        min-height: 20px;
      }

      @media screen and (max-width: 440px) {
        font-size: 12px;
        min-height: 24px;
      }

      .item__ingridients-item {
        margin-right: 3px;
      }
    }
  }

  .item__sizes {
    margin-bottom: 10px;

    background-color: #f8f8f8;

    border: 1px solid rgba(0, 0, 0, 0.2);

    border-radius: 15px;

    display: flex;

    &-item {
      flex-grow: 1;

      height: 30px;

      background-color: #f8f8f8;

      &.item__sizes-active {
        background: #4f4f4f !important;
        color: var(--white-color);
        font-weight: 600;
      }
    }

    @media screen and (max-width: 678px) {
      margin-bottom: 5px;

      &-item {
        height: 28px !important;

        font-size: 12px;
      }
    }

    @media screen and (max-width: 600px) {
      border-radius: 13px;

      &-item {
        border-radius: 13px;

        font-size: 11px;

        height: 25px !important;
      }
    }

    @media screen and (max-width: 500px) {
      border-radius: 10px;

      &-item {
        font-size: 9px;

        border-radius: 10px;
      }
    }

    @media screen and (max-width: 440px) {
      border-radius: 15px;
      margin-bottom: 10px;

      &-item {
        font-size: 13px;
        height: 30px !important;

        border-radius: 15px;
      }
    }
  }

  .item__crust {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media screen and (max-width: 678px) {
      grid-gap: 5px;

      &-item {
        height: 28px !important;

        font-size: 12px;
      }
    }

    @media screen and (max-width: 600px) {
      border-radius: 13px;

      font-size: 11px;

      height: 25px !important;

      grid-gap: 5px 3px;

      &-item {
        font-size: 11px;

        height: 25px !important;
      }
    }

    @media screen and (max-width: 500px) {
      &-item {
        font-size: 9px;

        border-radius: 10px;
      }
    }

    @media screen and (max-width: 440px) {
      gap: 5px 10px;

      &-item {
        font-size: 13px;
        height: 30px !important;

        border-radius: 15px;
      }
    }

    &-item {
      flex-grow: 1;

      height: 30px;

      background-color: #f8f8f8;

      border: 1px solid rgba(0, 0, 0, 0.2);

      &:disabled {
        cursor: default;
        color: rgba(79, 79, 79, 0.5);

        border: 1px solid transparent;

        &:hover {
          background-color: #f8f8f8;
        }
      }

      &:hover {
        background-color: none;
      }

      &.item__crust-active {
        background: #4f4f4f !important;
        color: var(--white-color);
        font-weight: 600;

        @media screen and (max-width: 500px) {
          font-weight: 550;
        }
      }
    }
  }

  .item__footer {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 950px) {
      margin-top: 40px;
    }

    @media screen and (max-width: 678px) {
      margin-top: 30px;
    }

    @media screen and (max-width: 600px) {
      margin-top: 50px;
    }

    @media screen and (max-width: 600px) {
      margin-top: 60px;
    }

    .item__price {
      font-size: 11px;
      margin-left: 5px;
      font-weight: 700;

      span {
        font-size: 18px;
        font-weight: 700;

        @media screen and (max-width: 500px) {
          font-size: 15px;
        }

        @media screen and (max-width: 440px) {
          font-size: 18px;
        }
      }
    }

    .item__toCart-button {
      color: var(--white-color);
      font-size: 18px;
      font-weight: 700;

      height: 45px;

      padding: 10px 20px;

      background-color: #bf142e;

      @media screen and (max-width: 678px) {
        font-size: 14px;
        height: auto;

        padding: 10px 25px;
      }

      @media screen and (max-width: 500px) {
        font-size: 12px;

        padding: 8px 25px;
      }

      @media screen and (max-width: 440px) {
        font-size: 18px;

        padding: 10px 25px;
      }
    }
  }
}
