.category {
  @media screen and (max-width: 600px) {
    display: none;
  }
  .category__list {
    display: flex;

    .category__item {
      margin-right: 10px;

      padding: 13px 30px;

      border-radius: 30px;

      cursor: pointer;

      transition: 0.2s all ease-in;

      @media screen and (max-width: 900px) {
        margin-right: 5px;

        padding: 10px 25px;

        font-size: 14px;
      }

      &.category__item-active {
        background-color: #282828;

        color: #fff;
        font-weight: 700;
      }
    }
  }
}
