@import './../assets/mixins.scss';

.home-page {
  min-height: 100vh;
  padding: 20px 0;

  .container {
    .home-page__headline {
      @include dflex(space-between, center);

      @media screen and (max-width: 600px) {
        justify-content: center;
      }
    }

    .home-page__content {
      padding: 40px 0;

      @media screen and (max-width: 600px) {
        padding: 10px 0 20px;
      }
    }
  }
}
