.clientDataForm {
  margin-bottom: 30px;

  .clientDataForm__inputGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (max-width: 1100px) {
      gap: 3px;
    }

    @media screen and (max-width: 900px) {
      gap: 10px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .clientDataForm__inputContainer {
      position: relative;

      .clientDataForm__input {
        width: 100%;
        font-size: 16px;
        color: #4f4f4f;
        outline: none;
        padding: 0 10px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid rgba(79, 79, 79, 0.5);

        opacity: 0.7;

        transition: 0.2s all linear;

        @media screen and (max-width: 600px) {
          font-size: 13px;
        }

        &:focus {
          border: 1px solid rgba(79, 79, 79, 0.9);
          opacity: 1;
        }
      }
    }
  }
}
