.clientDataForm {
  margin-bottom: 30px;

  .clientDataForm__inputGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (max-width: 1100px) {
      gap: 3px;
    }

    @media screen and (max-width: 900px) {
      gap: 10px;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .clientDataForm__inputContainer {
      position: relative;

      .clientDataForm__input {
        width: 100%;
        font-size: 16px;
        color: #333;
        outline: none;
        padding: 0 10px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.5);

        opacity: 0.7;

        transition: 0.2s all linear;

        @media screen and (max-width: 600px) {
          font-size: 13px;
        }

        &:focus,
        &:hover,
        &.clientDataForm__inputFilled {
          border: 1px solid rgba(0, 0, 0, 1);
          opacity: 1;
        }

        &.clientDataForm__inputError {
          border: none;
          border-radius: 0%;
          border-bottom: 1px solid rgba(79, 79, 79, 1);
          animation: errorBluring 1s ease-in-out 1;

          &::placeholder {
            color: #4f4f4f;
          }
        }
      }
    }
  }
}

@keyframes errorBluring {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}
