.orderPage {
  padding: 40px 0;

  display: flex;
  justify-content: center;

  background-color: #f8f4f8 !important;

  @media screen and (max-width: 600px) {
    padding: 20px 0;
  }

  .orderPage__container {
    min-height: calc(100vh - 185px);

    .orderPage__heading {
      font-size: 25px;

      margin-bottom: 30px;

      text-align: center;
      font-weight: normal;

      color: #505061;

      line-height: 0.9;

      @media screen and (max-width: 600px) {
        font-size: 23px;

        margin-bottom: 20px;
      }
    }
  }
}
