.activeOrders {
  margin-bottom: 40px;

  .activeOrders__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .activeOrders__tableContainer {
    .activeOrders__table {
      width: 100%;

      thead {
        tr {
          display: grid;
          grid-template-columns: 0.7fr 1.3fr 0.7fr 1.5fr 1fr 0.6fr 0.8fr;
          gap: 5px;
          align-items: center;

          background-color: #f8f4f8;
          border-radius: 15px;

          padding: 10px 15px;
          th {
            text-align: left;

            font-size: 12px;
            font-weight: 600;
            color: rgba(0, 0, 0, 1);
          }
        }
      }

      tbody {
        tr {
          display: grid;
          grid-template-columns: 0.7fr 1.3fr 0.7fr 1.5fr 1fr 0.6fr 0.8fr;
          align-items: center;
          gap: 5px;

          padding: 10px 15px;

          td {
            text-align: left;

            font-size: 12px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.49);

            padding: 10px 0;
          }
        }
      }
    }
  }
}
