.activeOrders {
  margin-bottom: 40px;

  .activeOrders__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .activeOrders__content {
    .activeOrders__tableContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      min-height: 380px;
    }
  }
}
