#header {
  .header__top {
    background-color: #333;
    color: #fff;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 7px 40px;

      @media screen and (max-width: 768px) {
        padding: 7px 20px;
      }
    }
  }

  .header__main {
  }
}
