#header {
  .header__top {
    background-color: #151617;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 7px 40px;
    }
  }

  .header__main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black-color);

    padding: 10px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.header__sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}
