.mobile__logotype {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }

  @media screen and (max-width: 478px) {
    width: 35px;
    height: 35px;
  }
}

.desktop__logotype {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
