:root {
  --gray-color: #6a6a76;
  --lightgray-color: #f8f4f8;

  --tablet-displayWidth: 768px;
  --mobile-displayWidth: 500px;

  --white-color: #fff;
  --black-color: #333;
  --red-color: red;
  --lightgray-color: lightgray;

  --transition-duration: 0.25s;
}

a {
  text-decoration: none;
}

#root {
  background-color: #f8f4f8;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ProximaNova', sans-serif;

  transition: 0.2s all linear;
}

button {
  outline: none;
  border: none;

  cursor: pointer;
  transition: 0.2s all linear;

  border-radius: 15px;

  overflow: hidden;
  position: relative;

  &:hover {
    background-color: transparent;
  }
}

li {
  list-style: none;
}

.authError__message {
  z-index: 99999;
}

.Toastify {
  .Toastify__toast-container,
  .Toastify__toast {
    z-index: 99999999;
  }
}

.rotated {
  transform: rotate(180deg);
}

.app__margin {
  margin-top: 110px;
}

.heading {
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  margin-bottom: 15px;

  @media screen and (max-width: 600px) {
    margin-bottom: 10px;
  }
}

.formInput__error {
  position: absolute;
  right: 10px;
  font-size: 11px;
  top: 7px;
}

.page-container {
  padding: 40px 0;

  min-height: calc(100vh - 105px);

  background-color: var(--white-color);

  @media screen and (max-width: 600px) {
    padding: 20px 0;
  }
}
