@mixin dflex($js-content, $align-items) {
  display: flex;
  justify-content: $js-content;
  align-items: $align-items;
}

@mixin dgrid($colums, $gap) {
  display: grid;
  grid-template-columns: $colums;
  grid-gap: $gap;
}

@mixin container {
  max-width: 1320px;
  margin: 0 20px;
  width: 100%;
}
